@charset "utf-8";
/* CSS Document */
*{
    margin:0px;
}
body{
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:12px;
    width:800px;
    margin:auto;
}
a{
    color:#666666;
    text-decoration:none;
}
#top{
    background:#6699FF;
    height:60px;
    line-height:60px;
    color:#FFFFFF;
    text-align:center;
    font-size:18px;
    font-weight:bold;
    width: 100%;
}
#bottom{
    clear:left;
    background: #333333;
    height:30px;
    line-height:30px;
    color:#FFFFFF;
    text-align:center;

#left{
    width:160px;
    float:left;
}
#left h1{
    font-size:13px;
    background:#FF6600;
    color:#FFFFFF;
    text-align:center;
}
#left ul{
    padding:0px;
    margin:0px;
    list-style-type:none;
}
#left ul a{
    padding-left:20px;
    width:140px;
    text-decoration:none;
    color:#333333;
    border-top:1px solid #FFFFFF;
    border-bottom:1px solid #CCCCCC;
    display:block;
    background:#E9E9E9 url(../images/arrow.gif) no-repeat 5px 4px;
    line-height:18px;
}
#left ul a:hover{
    background:#C9C9C9 url(../images/arrow.gif) no-repeat 5px 4px;
}
#info{
    width:619px;
    float:left;
    text-align:justify;
    border-left:1px solid #FF9900;
}
.main_info{
    padding:5px;
}
h3{
    padding-top:10px;
    padding-left:15px;
}
#login{
    padding:150px;
}
/application/templates/employe/layouts/scripts/css/styles.css
.error{
    width:400px;
    text-align:center;
    background:#FF6633;
    color:#FFFFFF;
}
.tdclass{
    border:1px solid #6699FF;
}
.title{
    background: #6699FF;
    color:#FFFFFF;
    text-align:center;
    font-weight:bold;
    border:1px solid #6699FF;
}
#menu ul{
    padding:0px;
    margin:0px;
    list-style-type:none;
    float:left;
    background: #009966;
    width:800px;
}
#menu ul a{
    padding-left:20px;
    text-decoration:none;
    color: #FFFFFF;
    line-height:18px;
    text-align:center;
}
#menu ul a:hover{
    color:#C9C9C9;
}
#menu ul li{
    display:inline;
}
.error{
    width:400px;
    text-align:center;
    background:#FF6633;
    color:#FFFFFF;
    line-height:18px;
}
#errors{
    background: #FF99CC;
    padding:5px;
}
#finish{
    background: #66CC66;
    padding:5px;
}
dt{
    float:left;
    width:120px;
    clear:left;
    line-height:22px;
    text-align:center;
    font-weight:bold;
}
dt label{
    margin-left:15px;
}
dd input, select, textarea{
    margin-left:15px;
    margin-top:5px;
    border: 1px dashed #6699FF;
}
#info td{
    border:1px solid #0099FF;
}
td .title{
    background:#0099FF;
    color:#FFFFFF;
    font-weight:900;
    text-align:center;
}