<h2>Sửa nhân viên</h2>
<?php 
$this->form->setAction($this->url());
echo $this->form;
 ?>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://unpkg.com/gijgo@1.9.11/js/gijgo.min.js" type="text/javascript"></script>
<link href="https://unpkg.com/gijgo@1.9.11/css/gijgo.min.css" rel="stylesheet" type="text/css" />

<script type="text/javascript">
	$('#birth_date').datepicker({
	    uiLibrary: 'bootstrap',
	    format: 'yyyy-mm-dd'
	});

</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<script>
// $(document).ready(function() {
//   $("#basic-form").validate({
//     rules: {
//       last_name : {
//         required: true,
//         minlength: 2,
//         maxlength: 16,
//       },
//       first_name: {
//         required: true,
//         minlength: 2,
//         maxlength: 14
//       },
//       birth_date: {
//         required: true,
//         date: true
//       },
//       weight: {
//         required: {
//           depends: function(elem) {
//             return $("#age").val() > 50
//           }
//         },
//         number: true,
//         min: 0
//       }
//     },
//     messages : {
//       last_name: {
//         minlength: "last_name should be at least 2 characters",
//         maxlength: "last_name should be at max 16 characters"
//       },
//       first_name: {
//         minlength: "first_name should be at least 2 characters",
//         maxlength: "first_name should be at max 14 characters"
//       },
//       weight: {
//         required: "People with age over 50 have to enter their weight",
//         number: "Please enter your weight as a numerical value"
//       }
//     }
//   });
// });
</script> 

<style type="text/css">
	body {
  margin: 20px 0;
  font-family: 'Lato';
  font-weight: 300;
  font-size: 1.25rem;
  width: 300px;
}

form, p {
  margin: 20px;
}

p.note {
  font-size: 1rem;
  color: red;
}

input, textarea {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 4px;
  font-family: 'Lato';
  width: 300px;
  margin-top: 10px;
}

label {
  width: 300px;
  font-weight: bold;
  display: inline-block;
  margin-top: 20px;
}

label span {
  font-size: 1rem;
}

label.error {
    color: red;
    font-size: 1rem;
    display: block;
    margin-top: 5px;
}

input.error, textarea.error {
    border: 1px dashed red;
    font-weight: 300;
    color: red;
}

[type="submit"], [type="reset"], button, html [type="button"] {
    margin-left: 0;
    border-radius: 0;
    background: black;
    color: white;
    border: none;
    font-weight: 300;
    padding: 10px 0;
    line-height: 1;
}
</style>
