<?php echo $this->doctype(); ?>
<head>
    <?php echo $this->headMeta(); ?>
    <?php echo $this->headTitle(); ?>
    <?php echo $this->headLink(); ?>
    <?php echo $this->headScript(); ?>
</head>
<body>
<?php
  require("top.phtml");
?>
<div id=info>
    <div class=main_info>
        <?php echo $this->layout()->content; ?>
    </div>
</div>
<?php
require("bottom.phtml");
?>
</body>
</html>