<?php
if(count($this->employees) > 0) {
    ?>
    <table style="width:50%">
        <tr>
            <th>STT</th>
            <th>Họ</th>
            <th>Tên</th>
            <th>Ngày sinh</th>
            <th>Giới tính</th>
            <th>Edit</th>
            <th>Del</th>
        </tr>
        <?php
        foreach ($this->employees as $key => $employe) {
            ?>
            <tr>
                <td><?php echo $employe['emp_no'] ?></td>
                <td><?php echo $employe['last_name'] ?></td>
                <td><?php echo $employe['first_name'] ?></td>
                <td><?php echo date($employe['birth_date']) ?></td>
                <td>
                    <?php
                    if($employe['gender'] === 'M')
                    {
                        echo 'Nam';
                    }
                    else{
                        echo 'Nữ';
                    }
                    ?>
                </td>
                <td><a href="/index/edit?emp_no=<?php echo $employe['emp_no']; ?>">Sửa</a></td>
                <td><a href="/index/del?emp_no=<?php echo $employe['emp_no']; ?>"  onclick="return confirm('Bạn có muốn xóa không?');">Xóa</a></td>
            </tr>
            <?php
        }
        ?>
        <tr>
    </table>
    <?php
}else{
    echo 'Không tồn tại nhân viên!';
}
?>